*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
--main_color: #0090f0;
--p_color : #767676;
--bg_color : #F3F3F3;
--white_color : #fff;
--color_heading : #253237;
--boder-color : #d6d6d6d5;
}

.order-summary h2 {
    text-align: left;
    margin: 1rem 1rem;
    color: var(--main_color);
}
.cart-imgs {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    margin-top: 1rem;
}
.cartout {
    width: 60%;
    margin: auto;
    border: 2px solid var(--boder-color);
    margin-top: 2rem;
}
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    margin: 1rem; 
    border-top: 2px solid var(--boder-color);                  ;
}

.cart-products {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0 5rem;
}


.cart-title h2 {
font-size: 18px;
font-weight: 800;
margin-top: 10px;
}

.cart-title {
   display: flex;
   flex-direction: column;
}

.cart-title p {
    color: var(--boder-color);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.cart-delelt svg {
    font-size: 20px;
    color: red;
    cursor: pointer;
}
.cart-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
}

.cart-in .cart-cart  , .cart-in span{
    font-size: 20px;
    font-weight: 700;
    border: 1px solid var(--p_color);
    width: 40px;
     display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    cursor: pointer;
    background-color:var(--boder-color);
}

.totle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
    border-top: 1px solid var(--boder-color);
    border-bottom: 1px solid var(--boder-color);
    padding: 20px;
}
.totle p , .totle h3 {
    font-size: 20px;
    font-weight: 800;
}

.totle h3 {
color: var(--main_color);
}
.place-order {
    width: 95%;
    margin: 1rem auto;
    background-color: var(--main_color);
    color: white;
    text-align: center;
    padding: 7px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.animationData  {
    width: 300px;
    margin: auto;
}

@media (max-width: 768px) {
    .cartout {
    width: 90%;
    margin: auto;
    border: 2px solid var(--boder-color);
    margin-top: 2rem;
}
}