*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
:root {
--main_color: #0090f0;
--p_color : #767676;
--bg_color : #F3F3F3;
--white_color : #fff;
--color_heading : #253237;
--boder-color : #d6d6d6d5;
}  
.container2 {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sum-img img {
width: 120px;
}

.sum-img img , .big-img img {
cursor: pointer;
}

.big-img img {
    width: 40%;
    margin-bottom: 1vw;
}

.container2 .delet-item {
    width:45%;
}

.big-img img {
    height: 450px;
    width:auto;
    object-fit: cover;
}
.start svg{
font-size: 20px;
font-size: #f8b941;
}
.delet-item h5 {
    margin-top: 1rem;
    font-size: 20px;
}

.button {
    margin-top: 5px;
    padding: 10px 20px;
    font-size: 18px ;
    font-weight: 700;
    width: 150px;
    background-color: var(--main_color);
    color: var(--boder-color);
    border-radius: 3px;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid var(--main_color);
    transition: 0.3s ease-in-out;
}

.button.in-cart {
background-color: transparent;
color: var(--main_color);
pointer-events: none;
transition: 0.3s ease-in-out;
}
.button.in-cart svg {
    fill: var(--main_color);
}

.button svg {
    font-size: 15px;
     margin-top: 6px;
    font-weight: 700;
    color: var(--boder-color);
}
.Heart-svg  {
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}

.Heart-svg .Heartdata {
   margin: 1rem 6px;
}
.Heart-svg .Heartdata svg {
font-size: 22px;
margin-bottom: 2px;
}
.Heart-svg .Heartdata  {
    font-size: 20px;
    font-weight: 800;
background-color: var(--color_heading);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 35px;
    height: 35px;
    transition: all 0.3s ease-in-out;
}
.Heart-svg .Heartdata svg:hover {
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.Heart-svg .Heartdata:hover svg{
     transition: all 0.3s ease-in-out;
     color: #fff;
}

.Heart.inferotes {
    background-color: #0090f0;
}

.Heart.inferotes svg {
    color: #fff;
}


@media (max-width: 768px){
.container2 {
    width: 100%;
    margin: auto;
    display: flex;
     flex-direction: column;

}

.button svg {
    font-size: 15px;
    font-weight: 700;
    color: var(--boder-color);
    margin-bottom: 6px;
}
.Heart-svg  {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button {
    width: 150px;
    margin: auto;
   
}

.imgs-ietm {
    margin-bottom: 4rem;
}
.big-img img {
   max-height: 140px;
    width:auto;
    object-fit: cover;
    margin-left: 3rem;
}
.sum-img img {
width: 80px;
margin: auto;
margin-top: 1rem;
}
.Heart-svg .Heartdata {
   margin: 1rem 6px;
}
.Heart-svg .Heartdata svg {
font-size: 22px;
margin-bottom: 4px;
}
.container2 .delet-item {
    width:90%;
    text-align: center;
}
}