*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
--main_color: #0090f0;
--p_color : #767676;
--bg_color : #F3F3F3;
--white_color : #fff;
--color_heading : #253237;
--boder-color : #d6d6d6d5;
}
.imgdata {
    height: 60vh;
    object-fit: cover;   
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.titledata {
background-color: var(--main_color);
margin-top: 4rem;
text-align: center;
}

.titledata1  , .color-data{
 display: flex;
 justify-content: space-evenly;
 align-items: center;
}

.color-data {
    background-color: var(--boder-color);
    border-bottom: 20px solid var(--main_color);
}
.border-bottom {
 border-bottom: 2px solid var(--p_color);
 margin-top: 1rem;
}

.titledata p {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
     margin-top: 1rem; 
}

.titledata1 span::after {
content: "";
border-right: 2px solid #767676;
}



.left p  , .center p , .right p , .lift-r p , .rigth-p p {
    font-size: 18px;
    font-weight: 700;
    color: var(--main_color);
    margin-bottom: 5px;
    cursor: pointer;
}
.left  h2 , .center h2 , .right h2 , .lift-r h2 , .rigth-p h2  {
    font-size: 19px;
    font-weight: 900;
}
.left  , .center , .right  , .lift-r  , .rigth-p {
    height: 60vh;
    margin-top: 2rem;
}

@media (max-width: 768px){
.titledata1  , .color-data{
 display: flex;
flex-direction: column;
text-align: center;
}
.left  , .center , .right  , .lift-r  , .rigth-p {
    height: 35vh;
    margin-top: 1rem;

}
}