* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
--main_color: #0090f0;
--p_color : #767676;
--bg_color : #F3F3F3;
--white_color : #fff;
--color_heading : #253237;
--boder-color : #d6d6d6d5;
}

.Foretpassword {
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
    margin-top: 1rem;
    
}

.Foretpassword:hover {

    color:#0090f0;
}