* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

#serarch {
    position: relative;

}

.search_box_one {
    position: absolute;
    background-color: #fff;
    width: 33%;
    border: 1px solid #eee;
    margin: auto;
    padding: 10px;
    margin-top: 1rem;
}
.serarch {
    display: flex;
    justify-content: left;
    align-items: center;
     
}
.serarch img {
     width: 60px;
}
.serarch  {
    cursor: pointer;
}

.serarch p {
    font-size: 18px;
    font-weight: 700;
}