*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root {
--main_color: #0090f0;
--p_color : #767676;
--bg_color : #F3F3F3;
--white_color : #fff;
--color_heading : #253237;
--boder-color : #d6d6d6d5;
}

.Homer {
background-color: var(--main_color);

}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}
.MdArrowDropDown  span svg {
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
.MdArrowDropDown #navlink{
    padding:5px;
    font-size: 16px;
    font-weight: 400;
      text-align: left;
     cursor: pointer;
    position: absolute;
    height: 4vh;
    top: 2.5rem;
    right: 3px;
   height: 60vh;
   width: 100%;
   overflow-y: scroll;
   background-color: var(--white_color);
   transition: 0.5s ease-in-out;
   z-index: 11;
}

 .option { 
border-bottom: 1px solid var(--p_color) ;
font-size: 20px;
font-weight: 600;
 cursor: pointer;
 padding: 14px 10px;
 border: 1px solid var(--main_color);
 } 

.MdArrowDropDown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    position: relative;
}
.MdArrowDropDown svg {
    font-size: 30px;
}
.MdArrowDropDown p {
    color: #fff;
}

li {
    list-style: none;
     
}
.Homer .active {
background: #0079ca;
padding: 7px;
border-radius: 3px;
}
ul {
text-decoration: none;

}
nav {
display: flex;
}

.uldata nav li {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600; 
    
}
.sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
}

.sign-in svg {
    color: #fff;
}

.FaUserPlus {
background-color:#fff;
width: 200px;
height: 10vh;
position: absolute;
right: -5rem;
top: 2.2rem;
display: flex;
align-items: center;
justify-content: space-around;
gap: 0 10px;
border-radius: 3px;
box-shadow: 1px 1px 8px #111;
}

.FaUserPlus p {
   
    cursor: pointer;
    font-size: 18px;
    font-weight: 800;
}

@media (max-width: 768px){
    .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container {
display: flex;
justify-items: center;
flex-direction: column;
width: 100%;
}

.Homer .active {
background: #0079ca;
padding: 5px;
}

.MdArrowDropDown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-weight: 800;
    position: relative;
}
.uldata nav li {
    padding: 6px;
    font-size: 20px;
    font-weight: bold; 
}

.sign-in {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 3rem;  
}
.sign-in svg {
    color: #fff;
    font-size: 16px;
}
.FaUserPlus {
background-color:#fff;
width: 200px;
height: 10vh;
position: absolute;
right: 1px;
top: 2.2rem;
display: flex;
align-items: center;
justify-content: space-around;
gap: 0 10px;
border-radius: 3px;
box-shadow: 1px 1px 8px #111;
}

.Homer {
background-color: var(--main_color);
height: 10vh;
}

}


