@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mozilla+Headline:wght@200..700&family=Mozilla+Text:wght@200..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--main_color: #0090f0;
--p_color : #767676;
--bg_color : #F3F3F3;
--white_color : #fff;
--color_heading : #253237;
--boder-color : #d6d6d6d5;
}



body {
    background-color: #fff;
    font-family: "Cairo", sans-serif; 
}

img {
    width: 100%;
}
h1 , h2 , h3 , h4 , h4 , h5 , h6 {
    color: var(--color_heading);
    font-family: "Cairo", sans-serif;
}

span {
    color: var(--main_color);
}

p {
    color: var(--p_color);
}

input , button , select , textarea {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color:var(--color_heading)
}

.container {
    width: 80%;
    margin: 0 auto;
max-width: 1350px;
}