*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--main_color: #0090f0;
--p_color : #767676;
--bg_color : #F3F3F3;
--white_color : #fff;
--color_heading : #253237;
--boder-color : #d6d6d6d5;
}

.product-img  {
width: 150px;
display: flex;
justify-content: center;
text-align: center;
align-items: center;
margin-bottom: 15px;
transition: all 0.5s;
backdrop-filter: var(--main_color);
margin-top: 1rem;
}
.product:hover  {
    transform: scale(0.99);
    transition:  0.5s;
    box-shadow: 1px 1px 10px  var(--main_color);
}
.product {
    border: 1px solid var(--main_color);
    width: 230px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;

}


#cartmyproduct{
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    gap: 10px;
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 800;
    transition:  0.3s;
}
.product.in-cart #cartmyproduct {
    top: 10px;
    transition: 0.3s;
}
#cartmyproduct svg {
    fill: rgb(20, 255, 3);
    
}
.product.in-cart .ciheart .btn-cart {
background-color:var(--main_color);
box-shadow: 1px 1px 7px var(--p_color);
pointer-events:none;
}

.button.in-cartt {
background-color:var(--main_color);
box-shadow: 1px 1px 7px var(--p_color);
pointer-events: none;
}
.product.in-cart .ciheart .btn-cart svg {
    fill: #fff;
}
.product:hover {
    box-shadow: 1px 1px 7px var(--main_color);
    transition: all 0.3s;
    border-color:var(--main_color);
    box-shadow: 10px 10px 15px #9494941b;
}


.product-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
    width: 100%;
    color: var(--color_heading);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-transform: capitalize;
}

.start {
    margin: 10px 0;
    gap: 5px;
}

.start svg {
    fill: #f8d941;
    font-size: 18px;
}
.price {
    font-size: 20px;
    font-weight: bold;
}
.ciheart  {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
      right: -40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all 0.3s;
}
.product:hover .ciheart {
      right: 7px;
      transition: all 0.3s;
}
.ciheart  span {
    background-color: var(--boder-color);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.toast {
    display: flex;
    align-items: center;
    gap: 20px;
    min-width: 250px;
    max-width: 300px;
   
}
.cartto {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
}
.cart-toast {
    width: auto;
    height: 50px;
    object-fit: cover;
}
.toast strong  , Added{
    overflow:hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.addtocart {
    width: 150px;
    background-color: #0090f0;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

.product span.ismalk {
    background-color: #0090f0;
}

.product span.ismalk svg {
    color: #fff;
}

@media (max-width: 768px) {
    .product {
    border: 1px solid var(--main_color);
    width: 230px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
     padding: 10px;
}
#cartmyproduct{
    position: absolute;
    top: -40px;
    left: 65%;
    transform: translateX(-50%);
    gap: 4px;
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 13px;
    font-weight: 800;
    transition:  0.3s;
}

.product-img  {
width: 70px;
display: flex;
justify-content: center;
text-align: center;
align-items: center;
margin-bottom: 15px;
transition: all 0.5s;
backdrop-filter: var(--main_color);
margin-top: 1rem;
}
}