*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--main_color: #0090f0;
--p_color : #767676;
--bg_color : #F3F3F3;
--white_color : #fff;
--color_heading : #253237;
--boder-color : #d6d6d6d5;
}
.container1 {
    width: 80%;
    margin: auto;
    
}
.top-slider {
    border-bottom: 2px solid var(--boder-color);
    position: relative;
    margin-bottom: 20px;
    padding: 10px 20px 20px 0;
    text-transform: capitalize;
}
.swiper-slide3 {
    padding: 10px;
    display: flex;
}

.swiper-slide2 {
    overflow: hidden;
  
}
.top-slider::after {
    content: "";
    position: absolute;
    bottom: -1px;
    width: 100px;
    height: 2px;
    background: var(--main_color);
}

.top-slider h1 {
    font-size: 30px;
    color: var(--main_color);
    margin-bottom: 10px;
}


@media (max-width: 768px) {
  .slider-product {
    width: 100% ;
  }

  .top-slider h1,
  .top-slider p {
    text-align: center;
  }

  .container1 {
    width: 100%;
    padding: 0 5px;
  }
}