*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
--main_color: #0090f0;
--p_color : #767676;
--bg_color : #F3F3F3;
--white_color : #fff;
--color_heading : #253237;
--boder-color : #d6d6d6d5;
}

.hero {
    position: relative;
    margin-bottom: 80px;
    margin-top: 12rem;
}
.myawiperdata {
    display: flex;
    justify-content: space-between;
    align-items: center;
        padding: 10px 40px;
         margin-top: 4rem;
}
.swiper-slide1 {
     height: 60vh;
     border-radius: 3px;
     background-color: var(--bg_color);
}

.swiper-slide1 .contact h4{
text-transform: uppercase;
font-style:italic;
font-size: 1.5vw;
}

.swiper-slide1 .contact h1 {
    font-size: 2vw;
    text-transform: capitalize;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 1rem;
    color: var(--main_color);
}

#contact {
    width: 20%;
}
#btn {
    color: var(--white_color);
    font-size: 1.4vw;
    padding: 10px 18px;
    font-weight: 800;
    background-color:var(--main_color);
    border-radius: 30px;
    text-transform: capitalize;
    display: flex;
    gap: 10px;
    align-items: center;
    transition: 0.3s;
    width: max-content;
}
.btn:hover {
    scale:1.1;
    transition: 0.3s;
}

@media (max-width: 768px){
    .swiper-slide1 {
     height: 30vh;
     border-radius: 3px;
     background-color: var(--bg_color);
}

#contact {
    width: 60%;
    padding: 10px;
}

.myawiperdata {
    display: flex;
    justify-content: space-between;
    align-items: center;
     
}
.swiper-slide1 .contact h4{
text-transform: uppercase;
font-style:italic;
font-size: 3vw;

}

.swiper-slide1 .contact h1 {
    font-size: 3vw;
    text-transform: capitalize;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 1rem;
    color: var(--main_color);
}
#btn {
    color: var(--white_color);
    font-size: 3vw;
    padding: 10px ;
    font-weight: 800;
    background-color:var(--main_color);
    border-radius: 30px;
    text-transform: capitalize;
    display: flex;
    gap: 10px;
    align-items: center;
    transition: 0.3s;
    width: max-content;
}
}