* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.load {
    display: flex;
    justify-content: center;
    align-items: center;
}
.animation {
    /* width: 300px; */
    /* height: 100px; */
    /* z-index: 11; */
}
